<h2>Děkujeme za zaslání dotazu</h2>
<h3>Detail</h3>
<p>
    Email: {{ patient.email }} <br />
    Pohlavi: {{ patient.sex }} <br />
    Vek: {{ patient.age }} <br />
    <br /><br />
    Dotaz: {{ patient.question }}


</p>

<h3>Link na dotaz</h3>
<a href="{{ questionDetail }}">jit na dotaz</a>